<window id="winedit" title="Sửa" border="normal" width="80%" closable="true" apply="org.zkoss.bind.BindComposer"
	viewModel="@id('vm')@init('vn.greenglobal.zkCrud.EmployeeEditModel')">

	<label hflex="min" width="100%"> Họ Tên: </label> 
	<textbox value=" @bind(vm.selectEmployee.name )" hflex="min" width="100%"/>
	<label> Chức vụ: </label>
	<textbox value=" @bind(vm.selectEmployee.position) " hflex="min" width="100%"/>
	<label> Công ty: </label>
	<textbox value="@bind(vm.selectEmployee.company)" hflex="min" width="100%"/>
	<button style="margin:5px;" label="Lưu" onClick="@command('save', cmp=winedit) @global-command('refresh')" />
</window>